@font-face {
  font-family: "Circe";
  src: url("./assets/fonts/circe.eot");
  src: url("./assets/fonts/circe.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/circe.woff2") format("woff2"),
    url("./assets/fonts/circe.woff") format("woff"),
    url("./assets/fonts/circe.ttf") format("truetype"),
    url("./assets/fonts/circe.svg#circe") format("svg");
}

body {
  font-family: "Circe", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2b2b2b;
}

/* Header */
.header {
  padding-top: 29px;
  padding-bottom: 130px;
  background: url("assets/img/header_background.svg") center center no-repeat;
}

.menu_list {
  align-items: center;
}

.menu__item_account {
  padding: 7px 30px;
  margin-right: 28px;
  border-radius: 50px;
  background-color: #fe5f5f;
  color: #fff;
}

.menu__item_services {
  font-weight: 700;
}

.menu__item_assistant {
  font-weight: 700;
  color: #fe5f5f;
  align-items: center;
}

.menu__icon {
  margin-right: 15px;
  height: 39px;
  width: 39px;
}

.header__logo {
  margin-top: 63px;
  width: 208px;
  height: 62px;
}

.header__title {
  margin-top: 63px;
  font-size: 2.1875em;
  font-weight: 700;
}

.header__offerContainer {
  margin-top: 515px;
  justify-content: center;
  align-items: center;
}

.header__offerText {
  font-size: 1.875em;
  font-weight: 700;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  margin-top: 39px;
}

.header__offerButton {
  text-align: center;
  font-size: 1.375em;
  padding: 13px 52px;
  color: #fff;
  background-color: #fe5f5f;
  border-radius: 50px;
}

.header__offerButton_blue {
  background-color: #3865a7;
  margin-left: 27px;
}

/* Content */
.content {
  margin-top: 150px;
}

.content__advantages {
  text-align: center;
}

.content__subtitle {
  display: inline;
  font-size: 2.5em;
  position: relative;
}

.content__subtitle::before {
  content: "";
  position: absolute;
  width: 6.5px;
  height: 6.5px;
  top: calc(50% - 3.25px);
  left: -21.5px;
  transform: rotate(45deg);
  background-color: #fe5f5f;
}

.content__subtitle::after {
  content: "";
  position: absolute;
  width: 6.5px;
  height: 6.5px;
  top: calc(50% - 3.25px);
  right: -21.5px;
  transform: rotate(45deg);
  background-color: #fe5f5f;
}

.content__advantagesList {
  margin-top: 72px;
  justify-content: space-around;
}

.content__advantagesListItem {
  width: calc(100% * 1 / 3.001);
  max-width: 260px;
}

.advantage__number {
  font-size: 3.125em;
  font-weight: 700;
  color: #3865a7;
}

.advantage__text {
  font-size: 1.25em;
  font-weight: 700;
  color: #000;
}

.content__reviews {
  margin-top: 240px;
  text-align: center;
}

.content__reviewItem {
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 40px;
}

.content__reviewImg {
  display: block;
  order: 2;
}

.content__reviewContent {
  max-width: 580px;
  margin-left: 110px;
  order: 3;
}

.content__reviewItem:nth-child(odd) .content__reviewContent {
  margin-left: 0;
  margin-right: 110px;
  order: -1;
}

.content__reviewTitle {
  font-size: 1.5em;
  font-weight: 700;
}

.content__reviewQoute {
  display: block;
  background: url("./assets/img/doubleArrows.svg") no-repeat center left;
  padding-left: 65px;
  font-weight: 700;
  color: #fe5f5f;
  margin-top: 22px;
}

.content__reviewText {
  display: block;
  margin-top: 15px;
}

.content__reviewLink {
  display: flex;
  max-width: min-content;
  margin-top: 17px;
  padding: 12px 24px;
  background-color: #3864a7;
  border-radius: 50px;
  align-items: center;
  color: #fff;
}

.content__reviewLink span {
  white-space: nowrap;
}

.content__reviewArrow {
  margin-left: 13px;
  width: 16px;
  height: 10px;
}

.content__assistant {
  margin-top: 175px;
  background: url("./assets/img/bottomBackground.svg") center top no-repeat;
  text-align: center;
  padding: 46px 0 68px 0;
}

.content__assistantTitle {
  font-size: 2.1875em;
  font-weight: 700;
  color: #000;
}

.content__assistantHint {
  margin-top: 8px;
  color: #000;
}

.content__assistantButton {
  margin: 29px auto 0;
  display: flex;
  padding: 13px 50px;
  font-weight: 700;
  border-radius: 50px;
  background-color: #fe5f5f;
  color: #fff;
}

.content__assistantArrow {
  height: 23px;
  width: 12.5px;
  margin-right: 10px;
}

/* Footer */
.footer {
  background-color: #2f2f2f;
  padding-top: 30px;
  padding-bottom: 32px;
  color: #fff;
  font-weight: 700;
}

.footer__container {
  justify-content: space-around;
}

.footer__navItem:nth-child(n + 2) {
  margin-left: 45px;
}

.footer__contactsItem {
  margin-left: 45px;
}

/* Media */

@media (max-width: 1024px) {
  .content__reviewItem {
    flex-direction: column;
  }

  .content__reviewContent {
    margin: 0;
  }

  .content__reviewItem:nth-child(odd) .content__reviewContent {
    margin: 0;
    order: 2;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .buttonWrapper {
    flex-direction: column;
  }

  .header__offerButton_blue {
    margin-top: 25px;
    margin-left: 0;
  }

  .footer__navBar {
    flex-wrap: wrap;
  }

  .footer__navItem {
    margin: 0;
    width: calc(100% * 1 / 2.001);
  }

  .footer__navItem:nth-child(n + 2) {
    margin-left: 0;
  }

  .footer__contacts {
    flex-wrap: wrap;
  }

  .footer__contactsItem {
    margin-left: 0;
    width: calc(100% * 1 / 1.001);
  }
}

@media (max-width: 640px) {
  body {
    font-size: 12px;
  }

  .content__reviewContent {
    padding: 0 10px
  }
}